@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
html {
    height: 100%;
    width: 100%;
}

a:hover{
    font-size: 32px;
}

#about {
    text-align: center;
    background-color: #ffe6eb;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#about p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.7;
    color: #4b2b36;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
}

img {
    border-radius: 12px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

#projects {
    background-color: #f8d7dd;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
}

#skills {
    background-color: #f3c5cb;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
}

#skills ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#skills li {
    font-size: 16px;
    color: #4b2b36;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffeef3;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline;
}

body{
    font-family: 'Quicksand', 'Cochin', serif;
    margin: 0;
    padding: 0;
    background-color: #fff7f9;
}

li{
    padding-right: 40px;
}

nav {
    background-color: #4b2b36; 
    padding: 10px 0;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #ffeef3; 
    font-weight: 500;
    font-size: 18px;
    font-family: 'Quicksand', 'Cochin', serif;
    padding: 10px 15px;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

footer#contact {
    background-color: #eec9d2; /* Soft mauve-pink */
    color: #4b2b36;
    padding: 30px 20px;
    text-align: center;
    border-top: 2px solid white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Quicksand', sans-serif;
}

footer#contact h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

footer#contact a {
    color: #4b2b36;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

footer#contact a:hover {
    color: #831c3c;
}